*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.App{
    width: 100%;
    min-height: 100vh;
    transition: 0.5s;
}
.App.dark{
    background: #222;
}
